.canvas {
  width: 740px;
  height: 320px;
  background: #333;
}

div.pixel {
  /* We'll need 64 total pixels in our HTML */
  width: 10px;
  height: 10px;
  float: left;
  box-shadow: 0px 0px 1px 0px #eaeaea;
}


canvas row div.pixel2 {
  background: yellow;
}

/*
div.pixel:nth-child(1) {
  background: orange;
}
*/
/*
div.pixel:nth-child(2) {
  background: yellow;
}
*/





