:root {
  --CELL-SIZE: 10px;  
}

/*
.canvas {
  width: 82px;
  height: 60px;
  background: #333;
}
*/

div.pixel {
  /* We'll need 64 total pixels in our HTML */
  width: var(--CELL-SIZE);
  height: var(--CELL-SIZE);
  float: left;
  box-shadow: 0px 0px 1px 0px #eaeaea;
}

.row {
  width: 80px;
  height: 10px;
  background: #333;
}


