:root {
  --CELL_SIZE: 50px;
  --CANVAS_SIZE: 150px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.download:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.pixel {
  width: var(--CELL_SIZE);
  height: var(--CELL_SIZE);
  float: left;
  box-shadow: 0px 0px 1px 0px #eaeaea;
}

.row {
  width: var(--CANVAS_SIZE);
  height: var(--CELL_SIZE);
  background: #333;
}

